<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050684966741-0eu94t5s2430p8qs6d4a8sr6d19mace4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050684966741-0eu94t5s2430p8qs6d4a8sr6d19mace4</string>
	<key>API_KEY</key>
	<string>AIzaSyD5lh8co6CWT6WgZ-2CiKPlJyMfiflEc9k</string>
	<key>GCM_SENDER_ID</key>
	<string>1050684966741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cdrnine.bisaatver</string>
	<key>PROJECT_ID</key>
	<string>bisaatver</string>
	<key>STORAGE_BUCKET</key>
	<string>bisaatver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050684966741:ios:63f04396e3c5f0263b51dc</string>
</dict>
</plist>